/* Header starts*/
.logo {
    text-align: center;
    margin: 15px 0px 30px;
    max-width: 100%;
}

.nav-link, .navbar-brand, .dropdown-toggle, .dropdown-item{
    color: whitesmoke;
}

a:hover{
    color: #c3c8e0;
}

.active{
    background-color: #4a1ccaa1;
}

.navbar{
    background-color: #2c3569;
    margin-bottom: 15px;
}

#collapsibleNavBar .nav-item .nav-link, #collapsibleNavBar .nav-item .dropdown-item{
    color: white;
    cursor: pointer;
}

#collapsibleNavBar .nav-item .nav-link:hover{
    color: rgb(182, 174, 174);
}

#collapsibleNavBar .nav-item .dropdown-item:hover{
    color: black;
}

.navbar-toggler-icon{
    background-image: url(../assets/menu.png);
    color: white;
}

.dropdown-menu{
    background-color: #464f83;
}

.container{
    padding: 10px 100px;
    margin-bottom: 20px;
}

/* Header ends*/

/* Footer starts */

address{
    padding: 10px;
    text-align: center;
}

/* Footer ends */

/* Homepage body starts*/
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.main .container-fluid .row aside{
    margin: 0;
}

.card-image-top{
    height: auto;
    width: 100%;
}

.introduction{
    padding: 0 30px;
}

.container-fluid .row aside .card{
    margin-top: 10px;
    padding: 0;
}

.classroom{
    max-width: 100%;
    margin: 15px;
}

.features{
    padding: 15px;
}

/* Homepage body ends*/

/* Course-details page body starts */

#courseNamemech{
    font-size: 7vw;  
}

#course #mechimage img{
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%;
    height: 20%;
}


/* Course-details page body ends */

/*Teachers' desk body starts*/

#achievements{
    max-height: 400px;
    font-size: 17px;
    background-color: rgb(233, 227, 227);
    border : 2px solid black;
    padding: 25px;
}

#profName{
    margin-bottom: 30px;
}

/*Hall of Fame body starts*/

.main #halloffame .row section{
    vertical-align: middle;
    padding: 10px;
}

.main #halloffame .card{
    margin: 0;
}

/*Hall of Fame Body Ends*/

@media(min-width: 992px){
    canvas{
        margin-bottom: 30px;
        margin-top: 45px;
        width: 100%;
        min-height: 200px;
    }
}

@media(max-width: 767px){
    /*Homepage body starts*/

    #homepage .card{max-width: 40%; margin-left: auto; margin-right: auto;}
    
    /*Homepage body ends*/

    
} 