/* Header starts*/
.logo {
    text-align: center;
    margin: 15px 0px 30px;
    max-width: 100%;
}

.nav-link, .navbar-brand, .dropdown-toggle, .dropdown-item{
    color: whitesmoke;
}

a:hover {
    color: #c3c8e0;
}

.navbar{
    background-color: #2c3569;
    margin-bottom: 15px;
}

.navbar-toggler-icon{
    background-image: url(../assets/menu.png);
    color: white;
}

.dropdown-menu{
    background-color: #464f83;
}

.container{
    padding: 10px 100px;
    margin-bottom: 20px;
}

/* Header ends*/

/* Footer starts */

address{
    padding: 10px;
    text-align: center;
}

/* Footer ends */

/* Homepage body starts*/
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.main .container-fluid .row aside{
    margin: 0;
}

.card-image-top{
    height: auto;
    width: 100%;
}

.introduction{
    padding: 0 30px;
}

.container-fluid .row aside .card{
    margin-top: 10px;
    padding: 0;
}

.classroom{
    max-width: 100%;
    margin: 15px;
}

.features{
    padding: 15px;
}

/* Homepage body ends*/

/* Course-details page body starts */
.container div img{
    font-weight: lighter;
    margin-bottom: 15px;
    margin-top: 15px;
}
/* Course-details page body ends */

@media(max-width: 767px){
    /*Homepage body starts*/

    .card{max-width: 40%; margin-left: auto; margin-right: auto;}
    
    /*Homepage body ends*/
} 