/* Header starts*/
.logo {
    text-align: center;
    margin: 15px 0px 30px;
    max-width: 100%;
}

.navbar-brand{
    padding-left: 10px;
}

.navbar-toggler{
    padding-right: 10px;
}

.nav-link, .navbar-brand, .dropdown-toggle, .dropdown-item{
    color: whitesmoke;
}

.nav-item .nav-link{
    padding-left: 15px;
}

a:hover{
    color: #c3c8e0;
}

.active{
    background-color: #4770e2;
}

.navbar{
    background-color: #2c3569;
    margin-bottom: 15px;
    padding: 0;
}

#collapsibleNavBar .nav-item .nav-link, #collapsibleNavBar .nav-item .dropdown-item{
    color: white;
    cursor: pointer;
}

#collapsibleNavBar .nav-item .nav-link:hover{
    color: rgb(216, 216, 216);
}

#collapsibleNavBar .nav-item .dropdown-item:hover{
    color: black;
}

.button-container {
    display: inline-block;
    cursor: pointer;
}
  
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 5.5px);
    transform: rotate(-45deg) translate(-7px, 5.5px);
}
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6.75px);
    transform: rotate(45deg) translate(-6px, -6.75px);
}

.dropdown-menu{
    background-color: #464f83;
    margin-left: 10px;
    margin-right: 10px;
}

.container{
    padding: 10px 100px;
    margin-bottom: 20px;
}

/* Header ends*/

/* Footer starts */

footer{
    background-color: #252c50;
    color: white;
}

address{
    padding: 25px;
    letter-spacing: 0.5px;
    font-size: 1.1rem;
    margin: 0;
}

address a{
    color: wheat;
}

address a:hover, address a:active{
    text-decoration: underline;
    color: wheat;
}

#map-tile{
    padding: 0;
    padding-top: 10px;
}

#map-tile iframe{
    height: 100%;
    width: 100%;
    border: 2px solid black;    
}

#social-media{
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    height: 1.2rem;
}

#social-media a{
    margin-right: 4px;
}

#copyright{
    margin-top: 20px;
}

#space{
    height: 5px;
}

/* Footer ends */

/* Homepage body starts*/
.carousel-inner img {
    width: 100%;
    height: auto;
}

.main .container-fluid #result-cards{
    margin: 0;
}

.card-image-top{
    height: auto;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
}

#intro{
    margin-bottom: 0;
    padding: 5px;
}

.introduction{
    padding: 0 25px;
    font-size: 1.15em;
}

.introduction em{
    font-weight: 500;
}

#result-cards{
    padding: 15px;
}

.container-fluid #result-cards .card{
    margin-top: 10px;
    padding: 0;
    height: 100%;
    width: auto;
}

.container-fluid #result-cards .card-back{
    padding: 15px;
}

.container-fluid #result-cards .card-back:hover, .container-fluid #result-cards .card-back:active{
    box-shadow: 1.2px 1.2px 1.2px 0.75px rgba(0, 0, 0, 0.733);
    padding: 25px;
}

.features{
    margin: 15px;
}

.features .cirfeat-back{
    padding: 20px 5% 20px;
}

.features .cirfeat{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 30px 20px 10px;
    border-radius: 50%;
    color: #2a3366;
    border: 1px solid #464f83;
    background-color: #aacaee3d;
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;
}

.features .cirfeat img{
    margin: 10px 0;
}
/* Homepage body ends*/

/* Course-details page body starts */

#courseNamemech{
    font-size: 7vw;  
}

#course #mechimage img, #course #beeimage img, #course #edimage img{
    margin-top: 20px;
    margin-bottom: 20px;
}

#courseDetails{
    padding-top: 20px;
    font-size: 1.1em;
}

#courseDetails span{
    font-weight: 500;
}

/* Course-details page body ends */

/*Teachers' desk body starts*/

#achievementsmk section, #achievementsdm section{
    font-size: 17px;
    background-color: rgb(222, 236, 245);
    border : 1px solid black;
    padding: 10px 15px 10px 0;
}

#achievementsmk section ul li span, #achievementsdm section ul li span{
    font-weight: 500;
}

#tdesk .row div{
    padding: 10px 15px 20px;
} 

#profNamemk, #profNamedm{
    margin-bottom: 25px;
    letter-spacing: 1;
    font-size: 27px;
}

/*Hall of Fame body starts*/

.main #halloffame .row section{
    vertical-align: middle;
    padding: 10px;
}

.main #halloffame .card{
    margin: 0;
}

/*Hall of Fame Body Ends*/

/* Admission Page body starts */

#form iframe{
    padding: 10px;
    width: 100%;
}

/* Admission Page body ends */

@media(max-width: 1199px){
    
    .features .cirfeat-back{
        padding: 17.5px 4% 17.5px;
    }

    .features .cirfeat{
        font-size: 1em;
    }
}

@media(max-width: 991px){
    
    .features .cirfeat-back{
        padding: 12px 40px 12px;
    }

    .features .cirfeat{
        font-size: 0.75em;
    }
}

@media(max-width: 767px){
    
    .features .cirfeat-back{
        padding: 10px 30%;
    }

    .features .cirfeat{
        font-size: 1em;
    }

    #map-tile iframe{
        height: 300px;
        width: 100%;
    }

    address{
        text-align: center;
    }
}

@media(max-width: 575px){
    
    .features .cirfeat-back{
        padding: 10px 18%;
    }

    .features .cirfeat{
        font-size: 1em;
    }

    #map-tile iframe{
        height: 225px;
        width: 100%;
    }
}

@media(min-width: 992px){

    canvas{
        margin-bottom: 30px;
        margin-top: 45px;
        width: 100%;
        min-height: 200px;
    }

    #course #mechimage img, #course #beeimage img, #course #edimage img{
        margin-left: 30%;
        width: 40%;
        height: auto;
    }

    #form iframe{
        height: 1200px;
    }
}

@media(min-width: 767px){
    #form iframe{
        height: 1500px;
    }
    
    #course #mechimage img, #course #beeimage img, #course #edimage img{
        margin-left: 20%;
        width: 60%;
        height: auto;
    }

}

@media(max-width: 767px){
    #form iframe{
        height: 1850px;
    }

    #course #mechimage img, #course #beeimage img, #course #edimage img{
        margin-left: 10%;
        width: 80%;
        height: auto;
    }
}

@media(max-width: 250px){
    .col-xxs-12{min-width: 100%;}
}