.logo {
    text-align: center;
    margin: 15px 0px 30px;
}

.nav-link, .navbar-brand, .dropdown-toggle, .dropdown-item{
    color: whitesmoke;
}

a:hover {
    color: #c3c8e0;
    background-color:  #464f83;
}

.navbar{
    background-color: #2c3569;
    margin-bottom: 15px;
}

.navbar-toggler-icon{
    background-image: url(../assets/menu.png);
}

.dropdown-menu{
    background-color: #464f83;
}